html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  overflow-x: hidden;
  overflow-y: auto;

  background: no-repeat center center fixed,
    url(bg/001.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'VT323', monospace;
}
h1 {
  font-family: 'VT323', monospace;
  font-size: 17px;
  color: white;
  margin: 0px;
  padding: 0px;
}

div#links {
  float: right;
  border: 3px solid #333;
  position: relative;
  width: 150px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: rgba(0,0,0,0.5);
}

ul {
  text-align: right;
  list-style-type: none;
  padding: 5px;
  margin: 0px;
}

li {
  padding: 0px;
}

a { color: #ccc; text-decoration: none; }
a:link { color: #ccc; text-decoration: none; }
a:visited { color: #ccc; text-decoration: none; }
a:active { color: #ccc; text-decoration: none; }
a:hover { color: #ccc; text-decoration: underline; }
